body {
  background-color: #000;
  color: #fff;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

input {
  color: #000;
  border-radius: 3px;
}


.holder {
  max-width: 100%;
}

#poster {
  width: 50%;
  margin: 0 auto;
}

img {
  width: 100%;
  margin-top: 35px;
  border-radius: 15px;
}


h1 , a{
 font-family: 'Lobster', cursive;
 text-transform: capitalize;
 font-size: 70px;
}

#btnSection a {
  text-decoration: none;
}


/*set color to transparent and and shadow to text*/
/*to take away blinking cursor*/
#term {
  background-color:  #CC513E;
  border: none;
  width: 80%;
  color: black;
  /*text-shadow: 0 0 0 black;*/
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  outline: none;
}

#term:focus {
  outline: none;
}

.loading {
  color: #CC513E;
  font-family: 'Oswald', sans-serif;
}

#similar {
  color: white;
}

#fetch {
  background-color: #CC513E;
}

#year {
  color: white;
  text-align: center;
  font-size: 60px;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color: black;
}


#plot {
  width: 60%;
  margin: 0 auto;
  color: #CC513E;
  font-family: 'Oswald', sans-serif;
}

#plot h2 {
  color: #CC513E;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

#year {
  font-family: 'Oswald', sans-serif;
  color: #FFD700;
}



/*ANIMATION*/

/*@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fade { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fade { from { opacity:0; } to { opacity:1; } }
@keyframes fade { from { opacity:0; } to { opacity:1; } }*/

/*.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeAgain {
  opacity:0;
  -webkit-animation:fade ease-in 1;
  -moz-animation:fade ease-in 1;
  animation:fade ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}*/
