body {
  background-color: #000;
  color: #fff;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

input {
  color: #000;
  border-radius: 3px;
}


.holder {
  max-width: 100%;
}

#poster {
  width: 50%;
  margin: 0 auto;
}

img {
  width: 100%;
  margin-top: 70px;
  border-radius: 15px;
}


h1 , a{
 font-family: 'Lobster', cursive;
 text-transform: capitalize;
 font-size: 70px;
}

#btnSection a {
  text-decoration: none;
}


/*set color to transparent and and shadow to text*/
/*to take away blinking cursor*/
#term {
  background-color:  #CC513E;
  border: none;
  width: 80%;
  color: black;
  /*text-shadow: 0 0 0 black;*/
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  outline: none;
}

#term:focus {
  outline: none;
}

.loading {
  color: #CC513E;
  font-family: 'Oswald', sans-serif;
}

#similar {
  color: white;
}

#fetch {
  background-color: #CC513E;
}

#year {
  color: white;
  text-align: center;
  font-size: 60px;
}

#plot {
  height: 350px;
}
::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {
   color: black;  
}
